.barra-menu {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0px;
  height: 65px;
  line-height: 61px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 10;
}

.fixed {
  position: absolute !important;
  top: 0 !important;
}

.menu-container {
  text-align: center;
}

.menu-container__logo {
  display: inline-block;
}

.menu-container__logo__link {
  color: #fff;
  background: #47525e;
  padding: 0.1em 0.5em;
  border-radius: 4px;
  font-size: 2em;
}

.menu-container__botao {
  font-size: 2.5em;
  display: none;
  color: #47525e;
}

.menu-container__botao .fa {
  cursor: pointer;
}

.visivel {
  display: inline-block !important;
}

.menu-container__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu-container__menu__item {
  margin: 0;
  display: inline-block;
}

.menu-container__menu__item__link {
  color: #47525e;
  text-decoration: none;
  display: block;
  padding: 0rem 1rem;
  font-size: 1.6em;
}

.menu-container__menu__item__link:hover {
  color: #000;
}

.main-body {
  position: relative;
  width: 100%;
  height: auto;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* h2 {
    font-size: 6em;
    color: #fff;
    font-weight: 500;
  } */
}

.box,
.box2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  h2 {
    font-size: 3em;
  }
  .logo {
    max-width: 300px;
  }
}

.box2 {
  background: #000;
  h2 {
    font-size: 3em;
    color: #fff;
  }
}
::-webkit-scrollbar {
  display: none;
}
