.barra-menu {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0px;
  height: 65px;
  line-height: 61px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 10;
}

.fixed {
  position: absolute !important;
  top: 0 !important;
}

.menu-container {
  text-align: center;
}

.menu-container__logo {
  display: inline-block;
}

.menu-container__logo__link {
  color: #fff;
  background: #47525e;
  padding: 0.1em 0.5em;
  border-radius: 4px;
  font-size: 2em;
}

.menu-container__botao {
  font-size: 2.5em;
  display: none;
  color: #47525e;
}

.menu-container__botao .fa {
  cursor: pointer;
}

.visivel {
  display: inline-block !important;
}

.menu-container__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu-container__menu__item {
  margin: 0;
  display: inline-block;
}

.menu-container__menu__item__link {
  color: #47525e;
  text-decoration: none;
  display: block;
  padding: 0rem 1rem;
  font-size: 1.6em;
}

.menu-container__menu__item__link:hover {
  color: #000;
}

.main-body {
  position: relative;
  width: 100%;
  height: auto;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #4a90e2, 0 0 20px #4a90e2, 0 0 30px #4a90e2,
      0 0 40px #4a90e2;
  }
  to {
    box-shadow: 0 0 20px #4a90e2, 0 0 30px #4a90e2, 0 0 40px #4a90e2,
      0 0 50px #4a90e2;
  }
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 0;
  --bs-card-border-color: rgba(0, 0, 0, 0.125);
  --bs-card-border-radius: 1rem;
  --bs-card-box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  --bs-card-inner-border-radius: 1rem;
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  /* --bs-card-cap-bg: #fff;
  --bs-card-bg: #fff; */
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
